<div class="container">
  <h1>{{ title | titlecase }}</h1>

  <h3>Lokalizacja</h3>
  <p>{{ 'Sun Jul 15 1410 00:00:00' | date: 'fullDate' }}</p>
  <p>{{ 'Sun Jul 15 1410 00:00:00' | date: 'fullDate':'':'pl' }}</p>
  <p>{{ 'Sun Jul 15 1410 00:00:00' | date: 'fullDate':'':'bn' }}</p>

  <h3>Łączenie pipe</h3>
  <p>{{ 'Sun Jul 15 1410 00:00:00' | date: 'fullDate' | uppercase }}</p>

  <!--  https://angular.io/api/common/DecimalPipe -->
  <h3>DecimalPipe - formatowanie liczb</h3>
  <p>Bez formatowania: {{ num }}</p>
  <p>Format: {{ num | number }}</p>
  <p>
    Format z określeniem miejsc po przecinku (lokalizacja default en-US):
    {{ num | number: '2.4-5' }}
  </p>
  <p>
    Format z określeniem miejsc po przecinku(lokalizacja pl):
    {{ num | number: '2.4-5':'pl' }}
  </p>
  <p>
    Format z określeniem miejsc po przecinku(lokalizacja bn):
    {{ num | number: '2.4-5':'bn' }}
  </p>
  <p>Liczba całkowita: {{ num | number: '1.0-0' }}</p>

  <!-- https://angular.io/api/common/I18nPluralPipe -->
  <h3>I18nSelectPipe - wyciąga wartość z mapy na podstawie klucza</h3>
  <p>{{ 'zima' | i18nSelect: translate }}</p>
  <p>{{ 'wiosna' | i18nSelect: translate }}</p>
  <p>{{ 'jesień' | i18nSelect: translate }}</p>
  <p>{{ 'lato' | i18nSelect: translate }}</p>

  <!-- https://angular.io/api/common/UpperCasePipe -->
  <h3>UpperCasePipe - formatowanie napisów</h3>
  <p>{{ 'MAŁY NAPIS' | lowercase }}</p>
  <p>{{ 'duży napis' | uppercase }}</p>

  <!-- https://angular.io/api/common/TitleCasePipe -->
  <h3>TitleCasePipe - formatowanie napisów</h3>
  <p>{{ 'źlE sFORmatoWanY teKST' | titlecase }}</p>

  <!-- https://angular.io/api/common/CurrencyPipe -->
  <h3>CurrencyPipe - formatowanie kwot</h3>
  <p>{{ price | currency }}</p>
  <p>{{ price | currency: 'PLN' }}</p>
  <p>{{ price | currency: 'PLN':'symbol':'':'pl' }}</p>
  <p>{{ price | currency: 'USD':'symbol-narrow':'':'pl' }}</p>
  <p>{{ price | currency: 'USD':'symbol':'':'bn' }}</p>

  <!-- https://angular.io/api/common/JsonPipe -->
  <h3>JsonPipe - możmy wyświetlić JSON format</h3>
  <p>Interpolacja z użyciem pipe: {{ translate }}</p>
  <p>Interpolacja bez użycia pipe: {{ translate | json }}</p>

  <!-- https://angular.io/api/common/PercentPipe -->
  <h3>PercentPie - formatowanie zapisy procentowego</h3>
  <p>0.01 to: {{ 0.01 | percent }}</p>
  <p>1.113 to: {{ 1.113 | percent: '2.2-2' }}</p>
  <p>1.113 to: {{ 1.113 | percent: '2.2-2':'pl' }}</p>

  <!--  https://angular.io/api/common/DatePipe -->
  <h3>DatePipe - formatowanie dat</h3>
  <p>{{ someDate | date }}</p>
  <p>{{ someDate | date: 'medium' }}</p>
  <p>{{ someDate | date: 'shortTime' }}</p>
  <p>{{ someDate | date: 'mm:ss' }}</p>
  <p>{{ someDate | date: 'h:mm a z' }}</p>

  <!-- https://angular.io/api/common/KeyValuePipe -->
  <h3>KeyValuePipe - do wyświetlania obiektów</h3>
  <div *ngFor="let item of translate | keyvalue">
    {{ item.key }} : {{ item.value }}
  </div>

  <!-- https://angular.io/api/common/SlicePipe -->
  <h3>SlicePipe - do operacji na listach i stringach</h3>
  <p>Wyświetla pierwszy i trzeci index z listy: {{ words | slice: 1:3 }}</p>
  <p>
    Wyświetli 11 pierwszych liter:
    {{ 'konstantynopolitańczykowianeczka' | slice: 0:11 }}
  </p>
  <p>
    Wyświetla od 11 miejsca:
    {{ 'konstantynopolitańczykowianeczka' | slice: 11 }}
  </p>
</div>
